<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Admin page: add translation pair</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Add translation pair</h2>
<div>
  <form action="#" th:action="@{/secure/addTranslation}" th:object="${translation}" th:method="post">
    <label for="language">Language (ISO 639-1 Code standard): </label> <br />
    <input id="language" type="text" th:field="*{language}" /> <br />

    <label for="text">Message: </label> <br />
    <input id="text" type="text" th:field="*{text}" />
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </form>
</div>
</body>
</html>